footer {
    color: rgb(7, 7, 7);
    background-color: white; 
    height: 60px; 
    width:100%;
    display: flex;
    justify-content: center;
    align-items:
    center; 
    bottom: -60px;
    position: absolute;
    border-top: 1px, #cccccc;
    
}